#startModal {
    position: fixed;
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    z-index: 1;
    bottom: 7vh;
}

.start-content {
    position: relative;
    padding: 0px;
    width: 42%;
    height: 84vh;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.start-body {
    position: absolute;
    height: 91%;
    width: 100%;
    top: 0;
    border-radius: 8px 8px 0 0;
}

.start-bottom {
    position: absolute;
    height: 9%;
    width: 100%;
    bottom: 0;
    border-radius: 0 0 8px 8px;
    
}
